body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec;
    color: #000; /* Metin rengi siyah yapıldı */
}

header {
    background-color: #ff69b4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; /* Header yazı fontu */
    color: purple; /* Header yazı rengi mor yapıldı */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
    text-align: center; /* Main kısmı içindeki öğeleri ortalamak için */
}

section {
    background-color: #fce4ec;
    padding: 20px;
    margin-bottom: 20px;
}

section h2:first-child {
    font-size: 18px;
}

footer {
    background-color: #ff69b4;
    padding: 10px;
    text-align: center;
    color: #000;
}

section button {
    background-color: purple;
    color: #fff; 
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.image-container {
    text-align: left; 
    margin-bottom: 20px;
}

/* Görsel kutusu */
.image {
    display: inline-block;
    width: calc(25% - 10px); /* Kutunun %25 genişliği */
    margin-right: 20px;
    vertical-align: top;
    display: none;
}

/* Görsel boyutu */
.image img {
    max-width: 100%; /* Maksimum genişlik */
    height: auto; /* Otomatik yükseklik ayarı */
    margin-bottom: 10px;
}

/* Görsel başlığı */
.image h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Görsel açıklaması */
.image p {
    font-weight: bold;
}

